<div class="card card-body mb-3">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input
        type="text"
        placeholder="Add a log..."
        name="text"
        id="text"
        class="form-control"
        [(ngModel)]="text"
      />
    </div>

    <input
      type="submit"
      class="btn btn-light"
      value="Add Log"
      [disabled]="!this.text"
    />

    <button
      class="btn btn-warning"
      [hidden]="!this.text"
      (click)="clearState()"
      type="button"
    >
      Clear
    </button>
  </form>
</div>
